"jest": {
    "preset": "react-native",
    "globals": {
      "ts-jest": {
        "babelConfig": true
      }
    },
    "moduleNameMapper": {
      "^@/(.*)$": "<rootDir>/$1",
      "^~/(.*)$": "<rootDir>/$1",
      "\\.svg": "<rootDir>/__mocks__/svgMock.js",
      "react-native-code-push": "<rootDir>/__mocks__/react-native-code-push.js",
      "@react-navigation": "<rootDir>/__mocks__/@react-navigation.js"
    },
    "testRegex": "(/__tests__/.*|\\.(test|spec))\\.(ts|tsx|js)$",
    "transformIgnorePatterns": [
      "<rootDir>/node_modules/(react-clone-referenced-element|@react-native-community|react-navigation|@react-navigation/.*|@unimodules/.*|native-base|react-native-code-push)"
    ],
    "testPathIgnorePatterns": ["<rootDir>/node_modules/", "\\.snap$"],
    "cacheDirectory": ".jest/cache",
    "testEnvironment": "jsdom",
    "setupFilesAfterEnv": ["@testing-library/jest-native/extend-expect"],
    "setupFiles": [
      "./src/setupTests.ts",
      "<rootDir>/__mocks__/mock-setup.js",
      "./node_modules/react-native-gesture-handler/jestSetup.js"
    ],
    "collectCoverageFrom": [
      "src/pages/**/*.tsx",
      "src/components/**/*.tsx",
      "src/hooks/**/*.tsx",
      "src/hooks/*.tsx",
      "!src/hooks/index.tsx"
    ],
    "moduleFileExtensions": [
      "ts",
      "tsx",
      "js",
      "jsx",
      "json",
      "node"
    ]
  }
